1. What are data structures, and why are they important?
   - Data structures are special formats use to store, organize and access data.
   They are importanat because they hold data and determine how to interact.

2. Explain the difference between mutable and immutable data types with
 examples.
   - Mutable data types can change its value, from integer to float. a=5 is an integer but if we make it float(a) the value changes to 5.0 which is float value.
   Immutable data stypes cannot change its value, like a string which cannot be changed a="Batman", we cannot change a[0] to 'R'as strings are not mutable.

3. What are the main differences between lists and tuples in Python?
  - Lists are mutable data structures. Exapmle : a=[a,b,c]; a[1]="f", this changes list from a[a,b,c] to a[a,f,c].
  Tuples are immutable data structures. For example b=(n,m,k), b[2]=q it will show error as tuple is an immutable data structure.

4. Describe how dictionaries store data?
 - Dictionaries make storage blocks and store data whithout an index or unordered sequence.

5. Why might you use a set instead of a list in Python?
 - In cases of membership check on emight use set instead of a list in pyhton.Also dictionaries can store other dictionaries.

6. What is a string in Python, and how is it different from a list?
 - A string in a python is a data type like a="Pwsjills" and list is a data structure example b=('aj' ,'bj' ,1 ).

7. How do tuples ensure data integrity in Python?
 - Tuples ensure data integrity in python by not allowing to change, replace or remove its assigned data. Which is why it can also be used in a set.

8. What is a hash table, and how does it relate to dictionaries in Python?
 - Hash is not a key, it gives index value to dictionaries.

9. Can lists contain different data types in Python?
 - yes, lists can contain different data types in python.

10. Explain why strings are immutable in Python?
 - Strings are immutable in pyhton due to data integrity. Since strings can also be used as keys.

11. What advantages do dictionaries offer over lists for certain tasks ?
 - Dictionaries can store other dictionaries, unique keys and allow memebership check.

12. How do sets handle duplicate values in Python?
 - Sets cancel the duplicate value, untill the duplicate value has some cahnge of upper or lower case.

13. Describe a scenario where using a tuple would be preferable over a list?
 -  When we want to assign a key to a set we can use tuple but not a list. As tuples are immutable.

14. How does the “in” keyword work differently for lists and dictionaries?
 -  
15. Can you modify the elements of a tuple? Explain why or why not?
 - We cannot modify elements in a tuple.
   We cannot modify elemnts in a tuple as items assigned to a tuple are immutable.

16.  What is a nested dictionary, and give an example of its use case?
 - Nested directory stores another dictionary as a value.
   boyfriends= ["Ajay", "Vijay", "Sujay"]
   girlfrieds= ["Rima","Seema", "Beena"]
   {boyfriends:girlfriends for boyfriends, girlfriends in zip(boyfriend, girlfriends)}

17. Describe the time complexity of accessing elements in a dictionary?
 -  It is less time complex in dictionary.

18. In what situations are lists preferred over dictionaries.
 - Lists allow duplictaes and has index or orderder values.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
 - Dictionaries are considered unordered as the values assigned to a particular dictionary has no index value.
 It affects data retrieval as data cannot be called out and changed vua index number and while assigning a data to a given dictionnary, the data can get assigned any where in the ggiven set of dictionary.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
 - In a list we can seperately and easily call out a data by its index number and can change its value. While in dictionaries we will have to remove a key then add a new desired key with value, this addition doesnot take place in the previous position but at the end.
 example a={'name' : 'Raj', 'sport': 'football'}
 a.pop('name')
 Raj
 a['game']='fifa'
 a
 {sport: football, game: fifa}

In [4]:
#Write a code to create a string with your name and print it.
a=str(input('enter your name'))
b=str(input('enter your surname'))
print (a,b)

enter your namePradipto
enter your surnameDe
Pradipto De

In [5]:
#Write a code to find the length of the string "Hello World"
c='Hello World'
len(c)

11

In [39]:
#Write a code to slice the first 3 characters from the string "Python Programming".
d='Python Programming'
d[0:3]

'Pyt'

In [8]:
#Write a code to convert the string "hello" to uppercase
e='hello'
e.upper()

'HELLO'

In [9]:
#Write a code to replace the word "apple" with "orange" in the string "I like apple"
f='I like apple'
f.replace('apple','orange')

'I like orange'

In [10]:
#Write a code to create a list with numbers 1 to 5 and print it.
g=[1,2,3,4,5]
print(g)

[1, 2, 3, 4, 5]

In [11]:
#Write a code to append the number 10 to the list [1, 2, 3, 4]
h=[1,2,3,4]
h.append(10)
print(h)

[1, 2, 3, 4, 10]

In [12]:
#Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
i=[1,2,3,4,5]
i.remove(3)
print(i)

[1, 2, 4, 5]

In [18]:
#Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
j=['a','b','c','d']
j[1]

'b'

In [41]:
#Write a code to reverse the list [10, 20, 30, 40, 50].
k=[10,20,30,40,50]
k.reverse()
print(k)

[50, 40, 30, 20, 10]

In [42]:
# Write a code to create a tuple with the elements 10, 20, 30 and print it.
l=(10,20,30)
print(l)

(10, 20, 30)

In [45]:
#Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
m=('apple','banana','cherry')
m[0]

'apple'

In [46]:
#Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
n=(1,2,3,2,4,2)
n.count(2)

3

In [47]:
#Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
o=('dog','cat','rabbit')
o.index('cat')

1

In [48]:
#Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
p=('apple','orange','banana')
'banana' in p

True

In [49]:
# Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
q={1,2,3,4,5}
print(q)

{1, 2, 3, 4, 5}

In [58]:
#Write a code to add the element 6 to the set {1, 2, 3, 4}.
r={1,2,3,4}
r.add(6)
print(r)

{1, 2, 3, 4, 6}

In [59]:
#Write a code to create a tuple with the elements 10, 20, 30 and print it.
s=(10,20,30)
print(s)

(10, 20, 30)

In [60]:
# Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
t=('apple', 'banana','cherry')
t[0]

'apple'

In [65]:
#Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
u=(1,2,3,2,4,2)
u.count(2)

3

In [66]:
#Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
v=('dog','cat','rabbit')
v.index('cat')

1

In [67]:
#. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
w=('apple','orange','banana')
'banana' in w

True

In [68]:
#Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
x={1,2,3,4,5,6}
print(x)

{1, 2, 3, 4, 5, 6}

In [69]:
#Write a code to add the element 6 to the set {1, 2, 3, 4}
y={1,2,3,4}
y.add(6)
print (y)

{1, 2, 3, 4, 6}